<h6 style="margin-left: 20px; padding-top: 20px; margin-bottom: 0; font-size: 26px; font-weight: 300;">Latest tournament</h6>



  <div class="row" style="align-items: center; padding: 20px 0;">
    <div class="col-lg-4">
      <p style="text-align: center; font-weight: 500; font-size: 32px; margin-bottom: -5px;">+13</p>
      <p style="text-align: center">Goals</p>
    </div>

    <div class="col-lg-4" style="background-image: url('<%= image_path("trophy.png") %>'); background-repeat: no-repeat, repeat; background-size: 120px; background-position: center;" >
      <p style="text-align: center; font-weight: 500; font-size: 52px; padding-top: 10px; padding-bottom: 18px; margin-top: -8px;">2</p>
    </div>

    <div class="col-lg-4">
      <p style="text-align: center; font-weight: 500; font-size: 32px; margin-bottom: -5px;">12</p>
      <p style="text-align: center">Points</p>
    </div>
  </div>
