<div class="col-box">

<%= image_tag "https://media-exp1.licdn.com/dms/image/C4E03AQGbwKzAEOvEQw/profile-displayphoto-shrink_800_800/0/1616091200685?e=1670457600&v=beta&t=ptcCFukzOKp-FOR4K7_MwgY4dnB8GHheGEsI5sVpL0c", :style => "display: block; max-width: 200px; margin: 0 auto; margin-top: 20px; border-radius: 50%;" %>

<b><p style="text-align: center; font-size: 20px; margin: 0; margin-top: 15px;">fjunemeister</p></b>

<p style="text-align: center; font-size: 16px; margin: 0; margin-bottom: 20px;">perjespersson@gmail.com</p>

</div>