<div class="col-box">

  <div style="padding-top: 20px">
    <%= image_tag "https://media-exp1.licdn.com/dms/image/C4E03AQGbwKzAEOvEQw/profile-displayphoto-shrink_800_800/0/1616091200685?e=1670457600&v=beta&t=ptcCFukzOKp-FOR4K7_MwgY4dnB8GHheGEsI5sVpL0c", :style => "display: block; max-width: 200px; margin: 0 auto; border-radius: 50%;" %>
  </div>

  <b><p style="text-align: center; font-size: 20px; margin: 0; margin-top: 15px;">fjunemeister</p></b>

  <p style="text-align: center; font-size: 16px; margin: 0; padding-bottom: 20px;">perjespersson@gmail.com</p>

</div>

<div class="col-box" style="padding: 0px 15px; margin-top: 20px">
  <button type="button" class="btn btn-primary full-width-btn" style="margin-top: 15px; margin-bottom: 0px; background: #016d9e;">NEW TOURNAMENT</button>
  <button type="button" class="btn btn-primary full-width-btn" style="margin: 15px 0; background: #016d9e;">NEW GAME</button>
</div>
