<ul class="nav nav-pills d-flex justify-content-center col-box" id="pills-tab" role="tablist" style="margin-bottom: 20px">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-statistics" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">STATISTICS</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">SETTINGS</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active row" id="pills-statistics" role="tabpanel" aria-labelledby="pills-statistics-tab">
    <%= render "welcome/partials/statistics" %>
  </div>

  <div class="row tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
    Ju
  </div>
</div>