<h6 style="margin-left: 20px; padding-top: 20px; margin-bottom: 0; font-size: 26px; font-weight: 300;">Trophies</h6>
<p style="font-size: 60px; margin-top: -5px; margin-left: 20px; padding-top: 0px; margin-bottom: 0;">3</p>
<p style="margin-left: 20px; padding-bottom: 20px; margin-top: -10px; font-weight: 300;">3/21</p>