/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

 :root {
  --light-black: #303030;
  --dark-black: #000000;
  --light-light-gray: #f3f3f3;
  --light-gray: rgba(117, 117, 117, 0.9);
  --dark-gray: rgba(117, 117, 117, 1);
  --light-blue: rgba(39, 123, 192, 0.9);
  --dark-blue: rgba(39, 123, 192, 1);
  --light-green: #009655;
  --dark-green: #007642;
}

 body{
  background: var(--light-light-gray);
  font-family: 'Poppins', sans-serif;
 }

 input[type=email], input[type=password], input[type=text]{
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  width: 100%;
 }

 .field{
  margin-bottom: 20px;
  min-width: 350px;
  color: var(--dark-gray);
 }

 hr {
  background: var(--light-gray);
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

a{
  color: var(--light-blue);
}

a:hover{
  color: var(--dark-blue);
}

.alert{
  border: none;
  border-radius: 15px;
  padding: 10;
}

.alert li{
  padding: 5px 0;
}

.alert ul{
  margin-bottom: 0;
}

 /* Devise */
 .devise-link{
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
 }

 .devise-text{
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--dark-gray);
 }

 .col-box{
  background: white;
  border-radius: 25px;
 }

 .no-padding-left{
  padding-left: 0;
 }

 .no-padding-right{
  padding-right: 0;
 }

 .no-margin{
  margin: 0;
}

/* Navbar */
 .navbar-brand{
  font-weight: 700;
  font-size: 26px;
 }

 .navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,0);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem;
}

/* Buttons */
.btn {
  border-radius: 15px;
  padding: 10px 0;
  font-weight: 600;
}

.btn-success{
  background-color: var(--light-green);
  border: none;
}

.btn-success:hover{
  background-color: var(--dark-green);
}

.full-width-btn {
  width: 100%;
  margin-bottom: 20px;
}

/****************** Text ******************/

h1{
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding: 60px 0;
 }

 h2{
  text-align: center;
  padding: 0;
  padding: 30px 0;
  font-weight: 700;
  margin: 0;
 }

 h3{
  font-size: 70px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  color: transparent;
 }

 h4{
  font-size: 70px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: white;
 }

 h5{
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 26px;
 }

 /****************** Profile ******************/

 .latest-game{
  font-size: 50px;
 }

 .latest-game .score{
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  border-right: 3px solid black;
 }

 .latest-game .team{
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
 }

/****************** Tab ******************/
.nav-link {
  padding: 1.5rem 1rem;
  color: var(--light-black);
  font-weight: 700;
  font-size: 18px;
}

.nav-link:hover {
  color: var(--dark-black);
  font-weight: 800;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--light-green);
  border-bottom: 3px solid #00995F;
  border-radius: 0px;
  background-color: transparent;
}

.tab-content>.active {
  display: flex;
}

/*********************** badges *****/
.bg-secondary{
  background-color: #f5f5f5 !important;
  color: #787878;
  font-weight: 300;
}